h1 {
    color: blue !important;
    text-decoration: underline dashed #a00;
}

.sections {
    font-size: 8px;
}

#firstSection {
    font-size: 25px;
}

p {
    font-style: italic;
}

.text {
    font-style: normal;
}