@media screen and (max-width: 961px) {
    .container {
        margin: 0;
    }

    .header {
        border: 0px;
        /*border: box-sizing;*/
        box-shadow: 0px 3px #999;
        background-color: #e1e1e1;
        text-align: left;
    }

    .header, .menu {
        display: inline-block;
    }

    .dropdown-button {
        background-color: inherit;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }
    
    .menu {
        position: relative;
        display: inline-block;
        float: right;
        overflow: hidden;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


    /*.menu {*/
    /*    text-align: right;*/
    /*    position: relative;*/
    /*    float: right;*/
    /*    overflow: hidden;*/
    /*}*/

    /*.dropdown-content {*/
    /*    display: block;*/
    /*    letter-spacing: 2px;*/
    /*    text-transform: uppercase;*/
    /*    padding: 1em 1em 1em 1em;*/
    /*    z-index: 2;*/
    /*    min-width: 160px;*/
    /*    position: relative;*/

    /*}*/

    /*.dropdown-button {*/
    /*    cursor: pointer;*/
    /*    font-size: 16px;*/
    /*    border: none;*/
    /*    outline: none;*/
    /*    margin: 5px 5px 0px 0px;*/
    /*    font-family: inherit;*/
    /*    text-transform: uppercase;*/
    /*    color: inherit;*/
    /*}*/
}

body {
    background-color: lightgrey;
    font-family: Sans-Serif;
    color: #222222;
    line-height: 1.5em;
    text-align: justify;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.flex-container>div {
    letter-spacing: normal !important;
    width: 260px;
    padding: 5px;
    margin: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2em;
    margin: 0px;
}

.content h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

header {
    margin: 1rem;
}

.container {
    background-color: white;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    min-height: 400px;
    max-width: 900px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 2px #999;
}

.header,
.menu,
.footer {
    background-color: #e1e1e1;
}

/*.header, */

/*.menu,*/

.content,
.footer {
    padding: 1em 1em 1em 1em;
}

.active {
    font-weight: bold;
}

.footer {
    font-size: 0.75em;
}

.footer ul {
    padding: 0px;
    margin: 0px;
    text-transform: uppercase;
}

.footer li {
    display: inline;
    letter-spacing: 2px;
}

a {
    text-decoration: none;
    color: #444;
}

a:hover {
    text-decoration: underline;
    color: #333;
}

table td {
    padding: 2px 4px 2px 4px;
}

table td:nth-of-type(1) {
    font-weight: bold;
    text-align: left;
}

table td:nth-of-type(2) {
    font-weight: normal;
    text-align: right;
}

table tr:nth-of-type(odd) {
    background-color: lightgrey;
}

table tr:nth-of-type(even) {
    background-color: white;
}