body > header, body > footer, nav, main {
    display: grid;
}

@media screen and (max-width: 700px) {
    body {
        display: grid;
        grid-template-columns: 1fr 6fr 1fr;
        grid-auto-rows: auto;
    }
    body > header {
        grid-column: 1/4;
        grid-row: 1;
    }
    
    nav {
        grid-column: 1/4;
        grid-row: 2;
        border-bottom: 1px solid black;
    }
    
    main {
        border-top: 0;
        grid-column: 2/3;
        grid-row: 3;
        align-self: center;
    }
    
    body > footer {
        grid-column: 1/4;
        grid-row: 4;
    }
}

@media screen and (min-width: 701px) {
    body {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: auto;
    }
    
    body > header {
        grid-column: 1/4;
        grid-row: 1;
        border-bottom: 1px solid black;
    }
    
    nav {
        grid-column: 1;
        grid-row: 2;
        align-self: start;
        border-right: 0;
    }
    
    nav > ul > li {
        display: block;
        width: 100%;
        text-align: left;
        padding: 5px;
    }
    
    main {
        grid-column: 2;
        grid-row: 2;
    }
    
    body > footer {
        grid-column: 1/4;
        grid-row: 4;
    }
}

body {
    background-color: #e8e8e8;
    width: 100%;
    margin: 0;
    padding: 0;
}

main {
  box-sizing: border-box;
  background-color: white;
  border-right: 1px solid black;
  border-left: 1px solid black;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  font-weight: bold;
  border-bottom: 1px solid black;
  background-color: white;
  box-sizing: border-box;
  text-align: right;
}

fieldset {
  border: 0;
}

article {
  background-color: white !important;
  text-align: justify;
  padding: 0;
}

body > header {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  clear: both;
}

.header {
  margin: 0;
  width: 100%;
}

h1 {
  margin: 0;
  padding-top: 15px;
  padding-left: 25px;
}

h5 {
    margin-top: -20px;
}

ul {
  list-style-type: none;
  display: inline;
}

li, input, textarea {
  display: inline;
  color: deeppink;
  border-right: 2px solid black;
  padding-right: 5px;
}

li:last-child {
  border-right: none;
}

li a {
  color: deeppink;
  text-decoration: none;
}

.footer {
  margin: 0;
  width: 100%;
}

footer {
  background-color: white !important;
  box-sizing: border-box;
  border-top: 1px solid black;
  text-align: right;
  width: 100%;
}

li.foo {
  list-style-type: none;
  display: inline;
  color: deeppink;
  border-right: 2px solid black;
  padding-right: 5px;
}

ul.foo {
  display: inline;
  float: right;
  color: deeppink;
}

li:last-child.foo {
  border-right: none;
}
